doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    link(rel='stylesheet', href='')
  body
    table(width='500px', align='center')
      tr(cellpadding='2px')
        td
          img(href='http://transportateperu.tutaxidispatch.com/img/header-to-message-inicial.jpg', width='500px')
      tr(cellpadding='2px')
        td
          font(face='Verdana', size='3')
            | El pasajero {idCliente} acaba de iniciar su servicio en TransportatePerú
      tr
        td
          table(width='100%', bgcolor='#e0e0e0', color='#969696')
            tr
              td(rowspan='7', width='30%') Imagen
              td
                font(face='Verdana', size='2') Origen: 
            tr
              td
                font(face='Verdana', size='2') Destino: 
            tr
              td
                font(face='Verdana', size='2') Conductor: {idConductor}
            tr
              td
                font(face='Verdana', size='2') Nro. Placa:
            tr
              td
                font(face='Verdana', size='2') Teléfono:
            tr
              td
                font(face='Verdana', size='2') Hora:
            tr
              td
                font(face='Verdana', size='2') Día:
      tr
        td
          font(face='Verdana', size='3')
            | Gracias por monitorear mi trayecto. 
            a(href='http://transportateperu.tutaxidispatch.com:3000/viewMapConductor?servicio=#{idDetalleServicio}', target='_blank') Click Aquí
