html
  head
    title Tu Taxi
    script(src="http://code.jquery.com/jquery-latest.min.js")
    script(src="http://maps.googleapis.com/maps/api/js?sensor=false")
    script(src="/socket.io/socket.io.js")
    style(type="text/css")
      html { height :100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height:100% }
  body
    span#span-idservicio(style="display:none")= idDetalleServicio
    span#span-latitud(style="display:none")= latitud
    span#span-longitud(style="display:none")= longitud
    div
      #map_canvas(style="width:100%; height:100%")
script.
  var marker = null;
  function initialize() {
    var latitud = $.trim($('#span-latitud').html());
    var longitud = $.trim($('#span-longitud').html());
    var myLatLng = new google.maps.LatLng( latitud, longitud );
    var myOptions = {zoom: 14, center: myLatLng, mapTypeId: google.maps.MapTypeId.ROADMAP };
    var map = new google.maps.Map( document.getElementById( 'map_canvas' ), myOptions );
    // icon: 'assets/img/ic_conductor.png'
    marker = new google.maps.Marker( {position: myLatLng, map: map} );
    marker.setMap( map );
  }
  $(function(){
    var idDetalleServicio = $.trim($('#span-idservicio').html());
    initialize(); //Iniciando load de Mapa
    var socket = io.connect();
    socket.emit('updateSocketWeb', idDetalleServicio);

    socket.on('refreshCoordinatesWeb', function(data){ //Esperando refresacar las coordenadas del conductor
      console.log(data);
      if(!data.finished){
        console.log(data.latitud, data.longitud);
        marker.setPosition( new google.maps.LatLng( data.latitud, data.longitud ) );
      }else{
        console.log('else');
        var $this = $('#map_canvas').parent();
        $('#map_canvas').remove();
        $this.append('Servicio terminado');
      }
    });
  });